<footer class="footer bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-12 mb-0 mb-md-4 pb-0 pb-md-2">
                <a href="#" class="logo-footer">
                    <img src="assets/images/logo-light.png" height="24" alt="">
                </a>
                <p class="mt-4 text-white-50">Using this template you can make beautiful landing pages without any major hardwork.</p>
               
               <div class="mt-3">
                    <ul class="list-unstyled footer-icon social mb-0">
                        <li class="list-inline-item mb-0"><a href="#" class="rounded icon-sm"><i
                                    data-feather="facebook" class="fea icon-sm"></i></a></li>
                        <li class="list-inline-item mb-0"><a href="#" class="rounded icon-sm"><i
                                    data-feather="instagram" class="fea icon-sm"></i></a></li>
                        <li class="list-inline-item mb-0"><a href="#" class="rounded icon-sm"><i
                                    data-feather="twitter" class="fea icon-sm"></i></a></li>
                        <li class="list-inline-item mb-0"><a href="#" class="rounded icon-sm"><i
                                    data-feather="linkedin" class="fea icon-sm"></i></a></li>
                        <li class="list-inline-item mb-0"><a href="#" class="rounded icon-sm"><i
                                    data-feather="dribbble" class="fea icon-sm"></i></a></li>
                    </ul>
                </div>
            </div>
            <!--end col-->

            <div class="col-lg-2 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                <h4 class="text-light footer-head">Company</h4>
                <ul class="list-unstyled footer-list mt-4">
                    <li><a href="#" class="text-foot fs-6"><i class="mdi mdi-chevron-right"></i> Aboutus</a></li>
                    <li><a href="#" class="text-foot fs-6"><i class="mdi mdi-chevron-right"></i> Services</a></li>
                    <li><a href="#" class="text-foot fs-6"><i class="mdi mdi-chevron-right"></i> Team</a></li>
                    <li><a href="#" class="text-foot fs-6"><i class="mdi mdi-chevron-right"></i> Pricing</a></li>
                    <li><a href="#" class="text-foot fs-6"><i class="mdi mdi-chevron-right"></i> Features</a></li>
                </ul>
            </div>
            <!--end col-->

            <div class="col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                <h4 class="text-light footer-head">Usefull Links</h4>
                <ul class="list-unstyled footer-list mt-4">
                    <li><a href="#" class="text-foot fs-6"><i class="mdi mdi-chevron-right"></i> Privacy
                            Protection</a></li>
                    <li><a href="#" class="text-foot fs-6"><i class="mdi mdi-chevron-right"></i> Safe Payments</a>
                    </li>
                    <li><a href="#" class="text-foot fs-6"><i class="mdi mdi-chevron-right"></i> Terms of
                            Services</a></li>
                    <li><a href="#" class="text-foot fs-6"><i class="mdi mdi-chevron-right"></i> Documentation</a>
                    </li>
                    <li><a href="#" class="text-foot fs-6"><i class="mdi mdi-chevron-right"></i> Privacy Policy</a>
                    </li>
                </ul>
            </div>
            <!--end col-->

            <div class="col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                <h4 class="text-light fw-normal footer-head mb-4">Bizcell Store</h4>
                <ul class="list-unstyled footer-list">
                    <li class="fs-6"><i class="mdi mdi-map-marker me-2"></i> 3/2/64 Mongus Street, UK</li>
                    <li class="fs-6"><i class="mdi mdi-email me-2"></i> name@domain.com</li>
                    <li class="fs-6"><i class="mdi mdi-phone me-2"></i> +(125) 215-4561</li>
                    <li class="fs-6"><i class="mdi mdi-earth me-2"></i> www.yourdomain.com</li>
                    <li class="fs-6"><i class="mdi mdi-twitter me-2"></i> yourname_tweet</li>
                </ul>
               
            </div>
            <!--end col-->
        </div>
        <!--end row-->
    </div>
    <!--end container-->
</footer>
<!--end footer-->

<footer class="footer footer-bar bg-dark border-top">
    <div class="container text-center">
        <div class="row align-items-center">
            <div class="col-sm-6">
                <div class="text-sm-start">
                    <p class="mb-0">© <script>
                            document.write(new Date().getFullYear())
                        </script> Bizcell. Design with <i class="mdi mdi-heart text-danger"></i> by <a
                            href="https://shreethemes.in/" target="_blank" class="text-reset">Shreethemes</a>.</p>
                </div>
            </div>
            <div class="col-sm-6 mt-4 mt-sm-0 pt-2 pt-sm-0">
                <ul class="list-unstyled text-sm-end mb-0">
                    <li class="list-inline-item"><a href="javascript:void(0)"><img src="assets/images/footer/american-ex.png" class="avatar avatar-ex-sm" title="American Express" alt=""></a></li>
                    <li class="list-inline-item"><a href="javascript:void(0)"><img src="assets/images/footer/discover.png" class="avatar avatar-ex-sm" title="Discover" alt=""></a></li>
                    <li class="list-inline-item"><a href="javascript:void(0)"><img src="assets/images/footer/master-card.png" class="avatar avatar-ex-sm" title="Master Card" alt=""></a></li>
                    <li class="list-inline-item"><a href="javascript:void(0)"><img src="assets/images/footer/paypal.png" class="avatar avatar-ex-sm" title="Paypal" alt=""></a></li>
                    <li class="list-inline-item"><a href="javascript:void(0)"><img src="assets/images/footer/visa.png" class="avatar avatar-ex-sm" title="Visa" alt=""></a></li>
                </ul>
            </div><!--end col-->
            
        </div>
    </div>
    <!--end container-->
</footer>