<header id="topnav" class="defaultscroll sticky">
    <div class="container">
        <!-- Logo container-->
        <a class="logo" href="index.html">
            <img src="assets/images/logo-dark.png" class="logo-light-mode" alt="">
            <img src="assets/images/logo-light.png" class="logo-dark-mode" alt="">
        </a>
        <!-- End Logo container-->
        <div class="menu-extras">
            <div class="menu-item">
                <!-- Mobile menu toggle-->
                <a class="navbar-toggle" id="isToggle" onclick="toggleMenu()">
                    <div class="lines">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </a>
                <!-- End mobile menu toggle-->
            </div>
        </div>

        <ul class="buy-button list-inline mb-0">
            <li class="list-inline-item search-icon mb-0">
                <div class="dropdown">
                    <a href='/profil' class="btn btn-link text-decoration-none dropdown-toggle mb-0 p-0"
                       >
                        <img src="/assets/images/logos/fleche-droite.png" style="width: 30px;">
                </a>
                    
                </div>
            </li>
        </ul>

        <div id="navigation">
            <!-- Navigation Menu-->
            <ul class="navigation-menu nav-right">
                <li class="has-submenu parent-parent-menu-item">
                    <a href='/projet' >Mes Projets</a><span class="menu-arrow"></span>
                   
                </li>
                <li class="has-submenu parent-parent-menu-item">
                    <a href='tache' class="text-primary">Mes taches</a><span class="menu-arrow"></span>
                   
                </li>


                <li class="has-submenu parent-menu-item"><a href='/profil'>Retour</a><span
                        class="submenu-arrow"></span>
                    
                </li>
            </ul>
            <!--end navigation menu-->
        </div>
        <!--end navigation-->
    </div>
    <!--end container-->
</header>




<div class="page-content page-container" id="page-content">
    <div class="padding" style="position: relative;
    top: 100px;
    background-color: white;
    background-size: cover;">
        <div class="row">
            <div class="col-sm-12">
                <div class="container">
                  
                    <div class="list list-row card" id="sortable" data-sortable-id="0" aria-dropeffect="move">
                        <div class="row">
                            <div class="col-md-6" id="example2-left">
                                <div class="list-item" data-id="13" data-item-sortable-id="0" draggable="true" role="option" aria-grabbed="false" style="">
                                    <div><a href="#" data-abc="true"><span class="w-40 avatar gd-primary">S</span></a></div>
                                    <div class="flex"> <a href="#" class="item-author text-color" data-abc="true">Sam idod</a>
                                        <div class="item-except text-muted text-sm h-1x">For what reason would it be advisable for me to think about business content?</div>
                                    </div>
                                    <div class="no-wrap">
                                        <div class="item-date text-muted text-sm d-none d-md-block">15 weeks ago</div>
                                    </div>
                                    <div>
                                        <div class="item-action dropdown"> <a href="#" data-toggle="dropdown" class="text-muted" data-abc="true"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical">
                                                    <circle cx="12" cy="12" r="1"></circle>
                                                    <circle cx="12" cy="5" r="1"></circle>
                                                    <circle cx="12" cy="19" r="1"></circle>
                                                </svg> </a>
                                            <div class="dropdown-menu dropdown-menu-right bg-black" role="menu"> <a class="dropdown-item" href="#" data-abc="true">See detail </a><a class="dropdown-item download" data-abc="true">Download </a><a class="dropdown-item edit" data-abc="true">Edit</a>
                                                <div class="dropdown-divider"></div> <a class="dropdown-item trash" data-abc="true">Delete item</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="list-item" data-id="9" data-item-sortable-id="0" draggable="true" role="option" aria-grabbed="false">
                                    <div><a href="#" data-abc="true"><span class="w-40 avatar gd-info"><img src="https://img.icons8.com/bubbles/24/000000/user.png" alt="."></span></a></div>
                                    <div class="flex"> <a href="#" class="item-author text-color" data-abc="true">Sam qpire</a>
                                        <div class="item-except text-muted text-sm h-1x">advisable for me to think about business content?</div>
                                    </div>
                                    <div class="no-wrap">
                                        <div class="item-date text-muted text-sm d-none d-md-block">12 days ago</div>
                                    </div>
                                    <div>
                                        <div class="item-action dropdown"> <a href="#" data-toggle="dropdown" class="text-muted" data-abc="true"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical">
                                                    <circle cx="12" cy="12" r="1"></circle>
                                                    <circle cx="12" cy="5" r="1"></circle>
                                                    <circle cx="12" cy="19" r="1"></circle>
                                                </svg> </a>
                                            <div class="dropdown-menu dropdown-menu-right bg-black" role="menu"> <a class="dropdown-item" href="#" data-abc="true">See detail </a><a class="dropdown-item download" data-abc="true">Download </a><a class="dropdown-item edit" data-abc="true">Edit</a>
                                                <div class="dropdown-divider"></div> <a class="dropdown-item trash" data-abc="true">Delete item</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="list-item" data-id="17" data-item-sortable-id="0" draggable="true" role="option" aria-grabbed="false" style="">
                                    <div><a href="#" data-abc="true"><span class="w-40 avatar gd-warning">T</span></a></div>
                                    <div class="flex"> <a href="#" class="item-author text-color" data-abc="true">Tidoh mark</a>
                                        <div class="item-except text-muted text-sm h-1x">For what reason for me to think about business content?</div>
                                    </div>
                                    <div class="no-wrap">
                                        <div class="item-date text-muted text-sm d-none d-md-block">3/1/18</div>
                                    </div>
                                    <div>
                                        <div class="item-action dropdown"> <a href="#" data-toggle="dropdown" class="text-muted" data-abc="true"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical">
                                                    <circle cx="12" cy="12" r="1"></circle>
                                                    <circle cx="12" cy="5" r="1"></circle>
                                                    <circle cx="12" cy="19" r="1"></circle>
                                                </svg> </a>
                                            <div class="dropdown-menu dropdown-menu-right bg-black" role="menu"> <a class="dropdown-item" href="#" data-abc="true">See detail </a><a class="dropdown-item download" data-abc="true">Download </a><a class="dropdown-item edit" data-abc="true">Edit</a>
                                                <div class="dropdown-divider"></div> <a class="dropdown-item trash" data-abc="true">Delete item</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="list-item" data-id="8" data-item-sortable-id="0" draggable="true" role="option" aria-grabbed="false">
                                    <div><a href="#" data-abc="true"><span class="w-40 avatar gd-success"><img src="https://img.icons8.com/doodle/24/000000/user-male.png" alt="."></span></a></div>
                                    <div class="flex"> <a href="#" class="item-author text-color" data-abc="true"> Telon Maskun</a>
                                        <div class="item-except text-muted text-sm h-1x">For what reason would it be advisable for me</div>
                                    </div>
                                    <div class="no-wrap">
                                        <div class="item-date text-muted text-sm d-none d-md-block">12/10/19</div>
                                    </div>
                                    <div>
                                        <div class="item-action dropdown"> <a href="#" data-toggle="dropdown" class="text-muted" data-abc="true"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical">
                                                    <circle cx="12" cy="12" r="1"></circle>
                                                    <circle cx="12" cy="5" r="1"></circle>
                                                    <circle cx="12" cy="19" r="1"></circle>
                                                </svg> </a>
                                            <div class="dropdown-menu dropdown-menu-right bg-black" role="menu"> <a class="dropdown-item" href="#" data-abc="true">See detail </a><a class="dropdown-item download" data-abc="true">Download </a><a class="dropdown-item edit" data-abc="true">Edit</a>
                                                <div class="dropdown-divider"></div> <a class="dropdown-item trash" data-abc="true">Delete item</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="list-item" data-id="10" data-item-sortable-id="0" draggable="true" role="option" aria-grabbed="false" style="">
                                    <div><a href="#" data-abc="true"><span class="w-40 avatar gd-danger"><img src="https://img.icons8.com/color/16/000000/administrator-male.png" alt="."></span></a></div>
                                    <div class="flex"> <a href="#" class="item-author text-color" data-abc="true">Clark Handscomb</a>
                                        <div class="item-except text-muted text-sm h-1x">For what reason would it be advisable about business content?</div>
                                    </div>
                                    <div class="no-wrap">
                                        <div class="item-date text-muted text-sm d-none d-md-block">10 day ago</div>
                                    </div>
                                    <div>
                                        <div class="item-action dropdown"> <a href="#" data-toggle="dropdown" class="text-muted" data-abc="true"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical">
                                                    <circle cx="12" cy="12" r="1"></circle>
                                                    <circle cx="12" cy="5" r="1"></circle>
                                                    <circle cx="12" cy="19" r="1"></circle>
                                                </svg> </a>
                                            <div class="dropdown-menu dropdown-menu-right bg-black" role="menu"> <a class="dropdown-item" href="#" data-abc="true">See detail </a><a class="dropdown-item download" data-abc="true">Download </a><a class="dropdown-item edit" data-abc="true">Edit</a>
                                                <div class="dropdown-divider"></div> <a class="dropdown-item trash" data-abc="true">Delete item</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="list-item" data-id="3" data-item-sortable-id="0" draggable="true" role="option" aria-grabbed="false">
                                    <div><a href="#" data-abc="true"><span class="w-40 avatar gd-primary"><img src="https://img.icons8.com/bubbles/16/000000/administrator-male.png" alt="."></span></a></div>
                                    <div class="flex"> <a href="#" class="item-author text-color" data-abc="true">Jordan Stephens</a>
                                        <div class="item-except text-muted text-sm h-1x">For what reason would it be advisable for me to think about business</div>
                                    </div>
                                    <div class="no-wrap">
                                        <div class="item-date text-muted text-sm d-none d-md-block">10 hour ago</div>
                                    </div>
                                    <div>
                                        <div class="item-action dropdown"> <a href="#" data-toggle="dropdown" class="text-muted" data-abc="true"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical">
                                                    <circle cx="12" cy="12" r="1"></circle>
                                                    <circle cx="12" cy="5" r="1"></circle>
                                                    <circle cx="12" cy="19" r="1"></circle>
                                                </svg> </a>
                                            <div class="dropdown-menu dropdown-menu-right bg-black" role="menu"> <a class="dropdown-item" href="#" data-abc="true">See detail </a><a class="dropdown-item download" data-abc="true">Download </a><a class="dropdown-item edit" data-abc="true">Edit</a>
                                                <div class="dropdown-divider"></div> <a class="dropdown-item trash" data-abc="true">Delete item</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" id="example2-right">
                                <div class="list-item" data-id="13" data-item-sortable-id="0" draggable="true" role="option" aria-grabbed="false" style="">
                                    <div><a href="#" data-abc="true"><span class="w-40 avatar gd-primary">P</span></a></div>
                                    <div class="flex"> <a href="#" class="item-author text-color" data-abc="true">Patrick Linod</a>
                                        <div class="item-except text-muted text-sm h-1x">For what reason would it be advisable for me to think about business content?</div>
                                    </div>
                                    <div class="no-wrap">
                                        <div class="item-date text-muted text-sm d-none d-md-block">3 weeks ago</div>
                                    </div>
                                    <div>
                                        <div class="item-action dropdown"> <a href="#" data-toggle="dropdown" class="text-muted" data-abc="true"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical">
                                                    <circle cx="12" cy="12" r="1"></circle>
                                                    <circle cx="12" cy="5" r="1"></circle>
                                                    <circle cx="12" cy="19" r="1"></circle>
                                                </svg> </a>
                                            <div class="dropdown-menu dropdown-menu-right bg-black" role="menu"> <a class="dropdown-item" href="#" data-abc="true">See detail </a><a class="dropdown-item download" data-abc="true">Download </a><a class="dropdown-item edit" data-abc="true">Edit</a>
                                                <div class="dropdown-divider"></div> <a class="dropdown-item trash" data-abc="true">Delete item</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="list-item" data-id="9" data-item-sortable-id="0" draggable="true" role="option" aria-grabbed="false">
                                    <div><a href="#" data-abc="true"><span class="w-40 avatar gd-info"><img src="https://img.icons8.com/bubbles/24/000000/user.png" alt="."></span></a></div>
                                    <div class="flex"> <a href="#" class="item-author text-color" data-abc="true">Steven Hmpire</a>
                                        <div class="item-except text-muted text-sm h-1x">Build a progressive web app using jQuery</div>
                                    </div>
                                    <div class="no-wrap">
                                        <div class="item-date text-muted text-sm d-none d-md-block">2 days ago</div>
                                    </div>
                                    <div>
                                        <div class="item-action dropdown"> <a href="#" data-toggle="dropdown" class="text-muted" data-abc="true"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical">
                                                    <circle cx="12" cy="12" r="1"></circle>
                                                    <circle cx="12" cy="5" r="1"></circle>
                                                    <circle cx="12" cy="19" r="1"></circle>
                                                </svg> </a>
                                            <div class="dropdown-menu dropdown-menu-right bg-black" role="menu"> <a class="dropdown-item" href="#" data-abc="true">See detail </a><a class="dropdown-item download" data-abc="true">Download </a><a class="dropdown-item edit" data-abc="true">Edit</a>
                                                <div class="dropdown-divider"></div> <a class="dropdown-item trash" data-abc="true">Delete item</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="list-item" data-id="17" data-item-sortable-id="0" draggable="true" role="option" aria-grabbed="false" style="">
                                    <div><a href="#" data-abc="true"><span class="w-40 avatar gd-warning">A</span></a></div>
                                    <div class="flex"> <a href="#" class="item-author text-color" data-abc="true">Alan musk</a>
                                        <div class="item-except text-muted text-sm h-1x">it be advisable for me to think about business content?</div>
                                    </div>
                                    <div class="no-wrap">
                                        <div class="item-date text-muted text-sm d-none d-md-block">13/12 18</div>
                                    </div>
                                    <div>
                                        <div class="item-action dropdown"> <a href="#" data-toggle="dropdown" class="text-muted" data-abc="true"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical">
                                                    <circle cx="12" cy="12" r="1"></circle>
                                                    <circle cx="12" cy="5" r="1"></circle>
                                                    <circle cx="12" cy="19" r="1"></circle>
                                                </svg> </a>
                                            <div class="dropdown-menu dropdown-menu-right bg-black" role="menu"> <a class="dropdown-item" href="#" data-abc="true">See detail </a><a class="dropdown-item download" data-abc="true">Download </a><a class="dropdown-item edit" data-abc="true">Edit</a>
                                                <div class="dropdown-divider"></div> <a class="dropdown-item trash" data-abc="true">Delete item</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="list-item" data-id="8" data-item-sortable-id="0" draggable="true" role="option" aria-grabbed="false">
                                    <div><a href="#" data-abc="true"><span class="w-40 avatar gd-success"><img src="https://img.icons8.com/doodle/24/000000/user-male.png" alt="."></span></a></div>
                                    <div class="flex"> <a href="#" class="item-author text-color" data-abc="true">Lawrence Telon</a>
                                        <div class="item-except text-muted text-sm h-1x">For what reason would it be advisable for me to think</div>
                                    </div>
                                    <div class="no-wrap">
                                        <div class="item-date text-muted text-sm d-none d-md-block">02/11 18</div>
                                    </div>
                                    <div>
                                        <div class="item-action dropdown"> <a href="#" data-toggle="dropdown" class="text-muted" data-abc="true"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical">
                                                    <circle cx="12" cy="12" r="1"></circle>
                                                    <circle cx="12" cy="5" r="1"></circle>
                                                    <circle cx="12" cy="19" r="1"></circle>
                                                </svg> </a>
                                            <div class="dropdown-menu dropdown-menu-right bg-black" role="menu"> <a class="dropdown-item" href="#" data-abc="true">See detail </a><a class="dropdown-item download" data-abc="true">Download </a><a class="dropdown-item edit" data-abc="true">Edit</a>
                                                <div class="dropdown-divider"></div> <a class="dropdown-item trash" data-abc="true">Delete item</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="list-item" data-id="10" data-item-sortable-id="0" draggable="true" role="option" aria-grabbed="false" style="">
                                    <div><a href="#" data-abc="true"><span class="w-40 avatar gd-danger"><img src="https://img.icons8.com/color/16/000000/administrator-male.png" alt="."></span></a></div>
                                    <div class="flex"> <a href="#" class="item-author text-color" data-abc="true">Stuart Clark</a>
                                        <div class="item-except text-muted text-sm h-1x">For what reason would, i think about business content?</div>
                                    </div>
                                    <div class="no-wrap">
                                        <div class="item-date text-muted text-sm d-none d-md-block">1 day ago</div>
                                    </div>
                                    <div>
                                        <div class="item-action dropdown"> <a href="#" data-toggle="dropdown" class="text-muted" data-abc="true"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical">
                                                    <circle cx="12" cy="12" r="1"></circle>
                                                    <circle cx="12" cy="5" r="1"></circle>
                                                    <circle cx="12" cy="19" r="1"></circle>
                                                </svg> </a>
                                            <div class="dropdown-menu dropdown-menu-right bg-black" role="menu"> <a class="dropdown-item" href="#" data-abc="true">See detail </a><a class="dropdown-item download" data-abc="true">Download </a><a class="dropdown-item edit" data-abc="true">Edit</a>
                                                <div class="dropdown-divider"></div> <a class="dropdown-item trash" data-abc="true">Delete item</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="list-item" data-id="3" data-item-sortable-id="0" draggable="true" role="option" aria-grabbed="false">
                                    <div><a href="#" data-abc="true"><span class="w-40 avatar gd-primary"><img src="https://img.icons8.com/bubbles/16/000000/administrator-male.png" alt="."></span></a></div>
                                    <div class="flex"> <a href="#" class="item-author text-color" data-abc="true">Jordan Stephens</a>
                                        <div class="item-except text-muted text-sm h-1x">For what reason would it be advisable for me to think about business</div>
                                    </div>
                                    <div class="no-wrap">
                                        <div class="item-date text-muted text-sm d-none d-md-block">1 hour ago</div>
                                    </div>
                                    <div>
                                        <div class="item-action dropdown"> <a href="#" data-toggle="dropdown" class="text-muted" data-abc="true"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical">
                                                    <circle cx="12" cy="12" r="1"></circle>
                                                    <circle cx="12" cy="5" r="1"></circle>
                                                    <circle cx="12" cy="19" r="1"></circle>
                                                </svg> </a>
                                            <div class="dropdown-menu dropdown-menu-right bg-black" role="menu"> <a class="dropdown-item" href="#" data-abc="true">See detail </a><a class="dropdown-item download" data-abc="true">Download </a><a class="dropdown-item edit" data-abc="true">Edit</a>
                                                <div class="dropdown-divider"></div> <a class="dropdown-item trash" data-abc="true">Delete item</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
